{{!< default}}
<div class="main-layout home-page">
	<div class="left-panel">
		<div class="main-content">
			<header class="header">
				<a href="/" class="logo">
					<img src="/logo.png" />
				</a>
			</header>
			<p>
				Here is some of hte random text 
			</p>
		</div>
		{{> navigation}}
	</div>
	<div class="right-panel">

	</div>
</div>
