<nav class="navigation">
    <div class="nav-container">
        <ul>
            <li>
                <a class="nav-item" href="/#work">
                    Work
                </a>
            </li>
            <li>
                <a class="nav-item" href="/#about">
                    About
                </a>
            </li>
            <li>
                <a class="nav-item" href="/#contact">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</nav>
