<nav class="navigation">
    <div class="nav-container">
        <ul>
            <li>
                <a class="nav-item" href="/work">
                    Work
                </a>
            </li>
            <li>
                <a class="nav-item" href="/work">
                    About
                </a>
            </li>
            <li>
                <a class="nav-item" href="/work">
                    Art forms
                </a>
            </li>
        </ul>
    </div>
</nav>
