<div class="left-panel">
    <div class="main-content">
        <div ng-include="'/templates/header.html'"></div>
        <div class="about-section" ng-bind-html="about.description">
        </div>
    </div>
    <nav class="navigation">
        <div class="nav-container">
            <ul>
                <li>
                    <a class="nav-item" href="/">
                        Work
                    </a>
                </li>
                <li>
                    <a class="nav-item active" href="/about">
                        About
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="/contact">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="right-panel">

</div>
