<div class="left-panel">
    <div class="main-content">
        <div ng-include="'/templates/header.html'"></div>
        <div class="art-works">
            <div class="art-content">
                <ul>
                    <li ng-repeat="category in categories" ng-click="showCategory(category)" ng-mouseover="updatePanel(category)">{{category.name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="navigation">
        <div class="nav-container">
            <ul>
                <li>
                    <a class="nav-item active" href="/">
                        Work
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="/about">
                        About
                    </a>
                </li>
                <li>
                    <a class="nav-item" href="/contact">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="right-panel" ng-animate-swap="highlightedCategory" ng-class={'hide-image':hideImage} ng-style="{'background-image':'url({{highlightedCategory.largeImage.url}})'}">
    <div ng-show="selectedCategory">
        <h2>{{selectedCategory.name}}</h2>
        <span class="close" ng-click="close()">X</span>
        <div ng-bind-html="selectedCategory.description">
        </div>
        <div deckgrid class="deckgrid" source="selectedImages">
            <div class="a-card">
                <img src="" data-ng-src="{{card.images.url}}">
            </div>
        </div>


    </div>
</div>
