.home-page{
    height: 100vh;
    width: 100%;
    .left-panel{
        float: left;
        background-color: red;
        width: 50%;
        height: 100%;
        position: relative;
    }
    .main-content{
        p{
            margin-top: 0;
        }
        width: calc(100% - #{$left-panel-nav-width});
        height: 100%;
        background-color: $color-off-white;
    }
    header{
        //position: absolute;
        display: block;
        a{
            margin-top: $header-margin;
            text-align: center;
            width: 100%;
            text-decoration: none;
            color: $color-black;
            display: inline-block;
            font-size: $header-font-size;
            span{
                color: $color-light-grey;
                display: inline-block;
                margin-left: 20px;
            }
        }
    }
    .right-panel{
        float: right;
        background-color: green;
        width: 50%;
        height: 100%;
        background-image:url('https://placekitten.com/840/1100');
        background-size:cover;
    }
}
