@keyframes delayPosition {
  from {
    position: fixed;
  }
  to {
    position: absolute;
  }
}
.home-page{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    &.left-open{
        overflow-x: hidden;
        .left-panel{
            transition: width 1s ease-in-out;
            width: 100%;
        }
        .right-panel{
            transition: width 1s ease-in-out;
            width: 0%;
        }
        .navigation{
            animation: 1s delayPosition;
            animation-delay: 1s;
            animation-fill-mode: forwards;

            //position: fixed;
        }
    }
    &.right-open{
        overflow-x: hidden;
        .left-panel{
            transition: width 1s ease-in-out;
            width: 0%;
            overflow: hidden;
        }
    }
    .left-panel{
        float: left;
        width: 50%;
        height: 100%;
        position: relative;
        transition: width 1s ease-in-out;
    }
    .main-content{
        p{
            margin-top: 0;
        }
        width: calc(100% - #{$left-panel-nav-width});
        height: 100%;
        background-color: $color-off-white;
    }
}
