#header {
  margin-top: 30px; }

#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777; }

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

.home-page {
  color: red;
  font-size: 28px; }
  .home-page .btn-primary {
    color: orange; }
    .home-page .btn-primary img {
      padding: 20px; }
