body {
  margin: 0; }

.navigation {
  width: 100px;
  right: 0;
  height: 100vh;
  position: absolute;
  background-color: blue;
  top: 0; }

.home-page {
  height: 100vh;
  width: 100%; }
  .home-page .left-panel {
    float: left;
    background-color: red;
    width: 50%;
    height: 100%;
    position: relative; }
  .home-page .main-content {
    width: calc(100% - 100px);
    height: 100%;
    background-color: purple; }
    .home-page .main-content p {
      margin-top: 0; }
  .home-page header {
    position: absolute; }
  .home-page .right-panel {
    float: right;
    background-color: green;
    width: 50%;
    height: 100%;
    background-image: url("https://placekitten.com/840/1050");
    background-size: cover; }
