.navigation{
    width: $left-panel-nav-width;
    right: 0;
    height: 100vh;
    position: absolute;
    background-color: $color-white;
    top: 0;
    .nav-container{
        position: relative;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
    }
    ul{
        list-style: none;
    }
    li{
        margin: 80px 10px;
    }
    a{
        display: inline-block;
        transform: rotate(90deg);
    }
}
