
.navigation{
    width: $left-panel-nav-width;
    right: 0;
    height: 100vh;
    position: absolute;
    background-color: $color-white;
    top: 0;
    .nav-container{
        position: absolute;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        width: $left-panel-nav-width * 1.5;//need more width for text
    }
    $list-width:200px;
    ul{
        list-style: none;
        width: 200px;
    }
    li{
        padding: 45px 60px;
    }
    a{
        display: inline-block;
        transform: rotate(90deg);
        transform-origin: 0 0;
        &.active{
            color: #000;
            font-weight: bold;
        }

    }
}
